* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* font-family: 'Poppins'; */
  }
  body{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  .weather{
   
    background: linear-gradient(135deg, #00feba, #5b548a);
  
    /* position: relative;
    left: 30%; */
    
    width: 40%;
    
    margin: 6% auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-items: center;
   /* background-color: blanchedalmond; */
  }

  .searchbar{
    display: flex;
    padding-top: 5%;
    /* gap: 10%; */
    /* background-color: red; */
    width: 100%;
    /* justify-content: center; */
    justify-content: space-evenly;


  }
  .searchbar input{
    height: 45px;
    width: 60%;
    /* border-radius: 50%; */
    border-radius: 25px; /* Adjust border-radius to make the input appear more cylindrical */
    border: none;
    outline: none; 
    padding: 0 15px;
  }
  .searchbar button{
    width: auto; /* Set a fixed width */
    height: auto;
    border-radius: 100%;
  }
  .searchbar img{
    border-radius: 50%; /* Make the search icon circular */
    background-color: white; /* Applied background color */
    width: 45px; /* Set a fixed width */
    height: 45px; /* Set a fixed height */
    object-fit: contain; /* Maintain aspect ratio */
    padding: 15.3px;
  }

  .bottom{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-items: center;
   font-size: 40px;
   /* background-color: aquamarine; */
   padding: 2%;
  
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    /* background-color: beige; */
     /* background-color: red; */
    width: 100%;
    gap: 7%; 

  }
  .humi{
    display: flex;
   
    justify-content: space-evenly;
    gap: 4%;
    /* background-color: red; */
    align-items: center;
  }
  .humi1{
    display: flex;
    flex-direction: column;
    font-size: 85%;
  }
  .wind{
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
    /* background-color: red; */
    align-items: center;
  }
  .wind1{
    display: flex;
    flex-direction: column;
    font-size: 35px;
  }
  .humi img{
    width: auto;
    height: 40%;
    margin-top: 10%;
    
  }
  .wind img{
    width: auto;
    height: 40%;
    margin-top: 10%;
  }